#gt-upload {
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  text-align: right;
  font-size: 0;
  opacity: 0;
  background: none;
  cursor: pointer;
  display: block;
  position: absolute;
  z-index: 0;
}
#gt-upload:hover {
  cursor: pointer;
}
.gt-btn-upload {
  position: relative;
  overflow: hidden;
}
.gt-btn-upload span {
  cursor: pointer;
}

.gt-container .gt-btn-upload {
  background-color: #fff;
  color: #6190e8;
}
.gt-container .gt-btn-upload:hover {
  background-color: #f2f2f2;
  border-color: #81a6ed;
}